@font-face {
  font-family: "OpenSans-Regular";
  /* stylelint-disable-next-line prettier/prettier */
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/OpenSans-Regular.woff") format("woff"), /* Pretty Modern Browsers */
       url("fonts/OpenSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
