@use "fontface.scss";
@import "normalize.css";
@import "sanitize.css";

:root {
  --base-margin: 1.6rem;
  --border-radius: 6px;
  --anim-t: 300ms;
  --anim: var(--anim-t) cubic-bezier(0, 0, 0.2, 1) 0ms;

  // prettier-ignore
  font: 14px "OpenSans-Regular", sans-serif;
}

body {
  color: $baseText;
  min-height: 100vh;
  background: top / contain url(images/background.svg) no-repeat;
  background-color: $baseBg2;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
}

main {
  padding: var(--base-margin);
}

h1 {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8em;
  margin: 0 var(--base-margin) var(--base-margin) 0;
}

button {
  min-width: initial;
  margin: $baseMargin;
  transition:
    background-color var(--anim),
    box-shadow var(--anim),
    border var(--anim);

  &:focus {
    transition-property: background-color, border; //  WARN: otherwise box-shadow looks ugly on gray button with hover effect
  }
}

wup-form button[type="submit"] {
  margin-left: auto;
}
