$borderR: var(--border-radius);
$baseMargin: var(--base-margin) 0;
$headerH: 2em;

$baseBg1: var(--base-bg1, #fff);
$baseBg2: var(--base-bg2, #f5f5fc);
$borderColor: var(--base-border, #e1e1e1);
$baseTextColor: var(--base-text, #575e72);
