.userImg {
  display: inline-block;
  background: $avatarBg;
  color: $avatarText;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}

.userIcon {
  background: $avatarBgOff;
  @include iconAfter($icon-profile);

  &:after {
    font-size: large;
  }
}
