.theError {
  position: fixed;
  z-index: 90001;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  padding: 0.75rem 1.25rem;
  color: #fce3e5;
  background-color: #ee4e4e;
  gap: 1rem;
  animation: theError var(--anim-t);

  @keyframes theError {
    // prettier-ignore
    0% { transform: scale(1); }
    // prettier-ignore
    50% { transform: scale(1.4); }
    // prettier-ignore
    60% { transform: scale(1.1); }
    // prettier-ignore
    70% { transform: scale(1.2); }
    // prettier-ignore
    80% { transform: scale(1); }
    // prettier-ignore
    90% { transform: scale(1.1); }
    // prettier-ignore
    100% { transform: scale(1); }
  }

  &.closing {
    transition: all var(--anim-t) ease-in-out;
    top: -50%;
  }

  > button {
    // --icon-img: var(--wup-icon-cross); // known issue: it's doesn't work if wup-component not rendered yet
    --icon-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='768' height='768'%3E%3Cpath d='M674.515 93.949a45.925 45.925 0 0 0-65.022 0L384.001 318.981 158.509 93.487a45.928 45.928 0 0 0-65.022 0c-17.984 17.984-17.984 47.034 0 65.018l225.492 225.494L93.487 609.491c-17.984 17.984-17.984 47.034 0 65.018s47.034 17.984 65.018 0l225.492-225.492 225.492 225.492c17.984 17.984 47.034 17.984 65.018 0s17.984-47.034 0-65.018L449.015 383.999l225.492-225.494c17.521-17.521 17.521-47.034 0-64.559z'/%3E%3C/svg%3E");
    --icon: #fff;
    --icon-size: 1em;
  }
}
