.check {
  --ctrl-switch-padding: 4px 0;
  --ctrl-check-size: 20px;
  --ctrl-check-on-bg: #{$checkActive};
  --ctrl-check-border-hover: #{$checkActive};

  box-shadow: none !important;
  border: none !important;

  [icon] {
    border: 2px solid $checkBorder;
    border-radius: 6px;
    box-sizing: border-box;
    position: initial;

    &:before {
      content: none !important;
    }
  }

  &[checked],
  &:focus-within {
    [icon] {
      border-color: $checkActive;
    }
  }

  @media not all and (prefers-reduced-motion) {
    [icon] {
      transition: background-color var(--anim);
    }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.9;

      [icon] {
        border-color: $checkActive;
      }
    }
  }
}

[wupdark] {
  --ctrl-check-off-bg: none;
  --ctrl-check-on: #000;
}
